<div class="blank-block"></div>

<article id="aboutUs">
    <section class="marta">
        <img src="images/marta.jpg" align="left" alt="Marta of Crystal">
        <h3>Марта</h3>
        <p>Привіт, я - Марта, засновник бренду MotherofCrystal. З дитинства обожнюю прикраси, проте ідея створювати їх на продаж виникла вже у дорослому віці. До моменту народження першого браслета, я працювала дизайнером-ретушером. Можу сказати, що все свідоме життя я захоплювалася багатствами природи, дивувалася неймовірними барвами і формами всього живого, що надихало на творчість. Я завжди мріяла мати роботу, яка дозволить мені застосовувати уяву й експериментувати з кольоровою гамою, формами та текстурами. І надихатись природою.
        </p>
        <p>В одній з подорожей Азією, я відкрила для себе магічний світ мінералів. З тих пір вони заволоділи моїми думками і серцем. У тайській культурі прикраси з коштовного каменю є сакральними. Таїландці вірять, що кожен мінерал випромінює різні види енергії, і здатен «розкриватись», коли знаходить свого власника. Це натхнення послугувало фундаментом у формуванні нашого бренду. Це не лише бізнес для нас, а й улюблена справа.
        </p>
    </section>

    <section class="olya">
        <img src="images/olya.jpg" align="right" alt="Olya of Crystal">
        <h3>Оля</h3>
        <p>Привіт, мене звуть Оля. Раніше я працювала у сфері фотографії, потім навчалася на факультеті журналістики. Врешті-решт мене більше зацікавили дизайн і верстка. Однак творчі роздуми над професією не зупинялися ні на мить. У час, коли я не могла знайти собі постійне заняття, Марта розпочала свій бренд. Доволі швидко знайшлися перші постійні клієнти, коло котрих поступово збільшувалося. Пам'ятаю, у якийсь момент я прийшла на допомогу сестрі - вона не могла справитися з великою кількістю замовлень. </p>
        <p>З моєю появою у MotherofCrystal робочий процес став більш логічним та продуманим. Марта завжди була відповідальна за креативну сторону бренду. Я ж перейняла на себе адміністративну частину роботи. Зараз ми обоє працюємо у різних напрямках, ролі чітко не розподілені: разом створюємо нові прикраси, робимо фотографії, збираємо інформацію, шукаємо нові камені... Марта веде інстаграм сторінку, а я найчастіше спілкуюсь з клієнтами. Також, я відповідальна за створення і підтримку цього вебсайту. Ми завжди були чудовим творчим тандемом!</p>
    </section>

</article>
