<div class="blank-block"></div>
<div id="home-delivery">
    <h2>ВАШЕ ЗАМОВЛЕННЯ</h2>
    <p>Розмістивши ваше замовлення, будь ласка, дочекайтеся аби ми з вами сконтактувалися протягом <span class="accent">1-2 робочих днів</span>. Ваше замовлення означає для нас дуже багато! </p>
    <p>Ми твердо переконані, що увага до деталей є неймовірно важливою складовою, аби втілювати наші ідеї та приносити радість клієнтам. Саме тому за виконання кожного замовлення беремося відповідально та серйозно. Всі вироби створені вручну, тому доставка може зайняти більше часу, ніж у великих мережевих магазинів.</p>
    <h2>ДОСТАВКА</h2>
    <p>Будь ласка, дайте нам мінімум <span class="accent">5 робочих днів</span> на створення, дбайливе упакування та відправку вашої прикраси. Ми обіцяємо відправити настільки швидко, наскільки дозволить робочий процес, щоб не знехтувати важливими деталями.</p>
    <p>По готовності замовлення, відправку здійснюємо <span class="accent">Новою Поштою</span>. Послуги цієї служби оплачує замовник.</p>
    <p>Оплата відбувається на карту <span class="accent">Приватбанку</span> або <span class="accent">Монобанку</span>. Реквізити ми надсилаємо після підтвердження вашого замовлення.</p>
    <h2>ПОВЕРНЕННЯ</h2>
    <p>Прикрасу, придбану у нашому магазині, ви маєте право обміняти <span class="accent">впродовж 3 днів</span> з моменту одержання. Якщо виріб не виправдав ваших очікувань, зв’яжіться з нами. Витрати, пов’язані з доставкою, покупець оплачує самостійно (якщо помилка з нашої сторони, доставку оплачує магазин). Після отримання посилки, ми повернемо кошти, або ви зможете обрати інший виріб за бажанням.</p>
    <p>Фото не завжди передає точний відтінок каменів. На це є різні причини: кожен камінець відрізняється - він є натуральним; також, різні монітори, освітлення при фотографуванні, інші партії каменю і т.д.</p>
    <p>Дякуємо за довіру!</p>
    <p>Якщо у вас є запитання, пишіть нам на e-mail: motherofcrystalstore@gmail.com
</p>
    <div class="clearfix"></div>
</div>