<div id="banner_container">

    <picture>
        <source srcset="images/home-slider/main-banner-s.jpg" media="(max-width: 480px)">
        <source srcset="images/home-slider/main-banner-m.jpg" media="(max-width: 768px)">
        <img src="images/home-slider/main-banner.jpg" alt="">
    </picture>


    <div class="gradient"></div>


    <div class="banner-text">
        <!--
        <h1>Motherofcrystal</h1>
        <p>Gemstone jewelry</p>
-->
    </div>
</div>

<div id="home-quote">

    <picture>
        <img src="images/home-slider/citata-banner.jpg">
    </picture>
    <div class="quote-text"></div>

</div>

<div id="home-top">
    <div class="home-item home-new">
        <a href="#!/products/101">
            <p class="home-txt">Новинки</p>
            <div class="new-pic"><img src="images/new-sticker.png" alt=""></div>
        </a>
    </div>
    <div class="home-item home-sale">
        <a href="#!/products/102">
            <p class="home-txt">Розпродаж</p>
            <div class="sale-pic"><img src="images/sale-sticker.png" alt=""></div>
        </a>
    </div>
</div>
